[phases.setup]
cmds = [
    "dotnet restore ezCV.Api/ezCV.Api.csproj",
    "dotnet restore ezCV.Web/ezCV.Web.csproj"
]

[phases.build]
cmds = [
    "dotnet publish ezCV.Api/ezCV.Api.csproj -c Release -o /app/output/api",
    "dotnet publish ezCV.Web/ezCV.Web.csproj -c Release -o /app/output/web"
]

[[services]]
name = "api"
[services.start]
cmd = "dotnet /app/output/api/ezCV.Api.dll --urls=http://0.0.0.0:8081"

[[services]]
name = "web"
[services.start]
cmd = "dotnet /app/output/web/ezCV.Web.dll --urls=http://0.0.0.0:8080"